<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    @Styles.Render("~/content/css")
</head>
<body>
    <hgroup>
        <h2 class="pb-3">Erro</h2>
        <h4>Um erro ocorreu durante sua requisição.</h4>
    </hgroup>
    <div>
        @Html.ActionLink("Voltar para página inicial", "Index", "Home")
    </div>

    @Scripts.Render("~/bundles/customjs")
</body>
</html>

