@model RocamERP.Presentation.Web.ViewModels.BancoViewModel

@{
    ViewBag.Title = $"Excluir - {Model.Nome}";
}

<h2>Excluir</h2>
<h6>Tem certeza que deseja apagar esse dado?</h6>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <div>
            @Html.DisplayForModel()
        </div>

        @Html.SubmitButton("Excluir")
    </div>
}

<div>
    @Html.ActionLink("Página Anterior", "Index")
</div>