@using (Html.BeginForm((string)ViewData["Action"], (string)ViewData["Controller"], FormMethod.Get))
{
    <div class="form-group row">
        <div class="col-12">
            <div class="input-group">
                @Html.TextBox((string)ViewData["Parameter"], null, new { @class = "form-control col-12", @placeholder = (string)ViewData["Placeholder"] })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Pesquisar</button>
                </span>
            </div>
        </div>
    </div>
}
