@model IEnumerable<RocamERP.Presentation.Web.ViewModels.EstadoViewModel>

@{
    ViewBag.Title = "Estados";
}

<h2>Estados</h2>

<div class="pt-3 pb-0 pt-0">
    @Html.Partial("PartialTemplates/SearchBar", null, new ViewDataDictionary
    {
        {
        "Action", "Index"
        },
        {
        "Controller", "Estados"
        },
        {
        "Parameter", "prefix"
        },
        {
        "Placeholder", "Digite o nome de um estado..."
        }
    })
</div>

<table class="table">
    <thead class="reset-border">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Nome
                </td>
                <td>
                    @if (item.Cidades.Count() > 0)
                    {
                        <p>
                            @Html.ActionLink($"{item.Cidades.Count()} Cidades listadas", "Index", "Cidades", new { @estado = item.Nome }, null)
                        </p>
                    }
                    else
                    {
                        <p>
                            Nenhuma cidade encontrada
                        </p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
