@model RocamERP.Presentation.Web.ViewModels.EnderecoViewModel

@{
    ViewBag.Title = $"Excluir - {Model.Rua.Take(20)}..., {Model.Numero}";
}

<h2>Excluir</h2>

<h6>Tem certeza que deseja apagar esse dado?</h6>
<hr />
<div>
    <div>
        @Html.DisplayForModel()
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.SubmitButton("Excluir")
    }

    <div>
        @Html.ActionLink("Página Anterior", "Index")
    </div>
</div>