@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Rocam ERP</h1>
    <p class="lead">Sistema experiemental para cadastro de cheques e clientes de Centro Automotivo Rocam Ltda.</p>
    <p>
        <a class="btn btn-success text-white btn-lg" href="Accounts/LoginAccount">
            Login &raquo;
        </a>
    </p>

    <a href="Accounts/CreateAccount">
        Criar conta
    </a>
</div>

<div class="row">
    <div class="col-4">
        <h2>Ajuda</h2>
        <p>
            Consultar ajuda e detalhes sobre como usar a aplicação.
        </p>
        <p>
            <a class="btn btn-primary" href="Home/Help">
                Abrir ajuda &raquo;
            </a>
        </p>
    </div>
    <div class="col-4">
        <h2>Documentação</h2>
        <p>
            Consultar a documentação, detalhes de API's e tecnologias.
        </p>
        <p>
            <a class="btn btn-primary" href="Home/Documentation">
                Consultar &raquo;
            </a>
        </p>
    </div>
    <div class="col-4">
        <h2>Reportar Erros</h2>
        <p>
            Notas de lançamento e mudanças nas versões. Reportar erros.
        </p>
        <p>
            <a class="btn btn-primary" href="/Home/BugReport">
                Reportar Erros &raquo;
            </a>
        </p>
    </div>
</div>