@{
    ViewBag.Title = "Home";
}

<div class="jumbotron mb-4">
    <h1>Rocam ERP</h1>
    <p class="lead">Sistema experimental para cadastro de cheques e clientes de Centro Automotivo Rocam Ltda.</p>

    @if (Request.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Minha Conta", "Index", "Manage", null, new { @class = "btn btn-success btn-lg text-white" })
        </p>

        @Html.ActionLink("Logout", "Logout", "Account", null, null)
    }
    else
    {
        <p>
            @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-success btn-lg text-white" })
        </p>

        @Html.ActionLink("Criar conta", "Register", "Account", null, null)
    }
</div>

<div class="row">
    <div class="col-4">
        <h2>Ajuda</h2>
        <p>
            Consultar ajuda e detalhes sobre como usar a aplicação.
        </p>
        <p>
            <a class="btn btn-primary" href="Home/Help">
                Abrir ajuda &raquo;
            </a>
        </p>
    </div>
    <div class="col-4">
        <h2>Documentação</h2>
        <p>
            Consultar a documentação, detalhes de API's e tecnologias.
        </p>
        <p>
            <a class="btn btn-primary" href="https://github.com/LucasNSBR/RocamERP">
                Consultar &raquo;
            </a>
        </p>
    </div>
    <div class="col-4">
        <h2>Reportar Erros</h2>
        <p>
            Notas de lançamento e mudanças nas versões. Reportar erros.
        </p>
        <p>
            <a class="btn btn-primary" href="/Home/BugReport">
                Reportar Erros &raquo;
            </a>
        </p>
    </div>
</div>