@{
    ViewBag.Title = "Erro no Login";
}

<h2>Erro</h2>
<h6>O Login falhou</h6>
<hr />

    <div>
       <p class="lead">
           Suas credenciais estão incorretas ou já existe uma conta relacionada a esse e-mail.
       </p>
    </div>
}

<div>
    @Html.ActionLink("Página Anterior", "Index", "Home")
</div>
