@model RocamERP.CrossCutting.Identity.ViewModels.PasswordResetTokenSentViewModel
@{
    ViewBag.Title = "Token enviado";
}

<h2>Token enviado</h2>
<h6>Token de redefinição de senha</h6>
<hr />

<div>
    @Html.Raw($"Seu token de redifinição de senha foi enviado para {Model.Email}")
</div>

<div>
    @Html.ActionLink("Página Anterior", "Index")
</div>
