@model RocamERP.Presentation.Web.ViewModels.ChequeViewModel

@{
    ViewBag.Title = $"Detalhes - {Model.NumeroCheque}";
}

<h2>Cheque @Model.NumeroCheque </h2>
<h6>Detalhes sobre o cheque</h6>
<hr/>

<div>
    @Html.DisplayForModel()
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ChequeId }) |
    @Html.ActionLink("Página Anterior", "Index")
</p>
