.reset-border * {
    border: 0!important;
}

.td-main {
    width: 200px;
    min-width: 100px;
}


.validation-summary-errors li {
    list-style-type: none;
}


.height-5 {
    min-height: 1000px;
}

.height-4 {
    min-height: 800px;
}

.height-3 {
    min-height: 600px;
}

.height-2 {
    min-height: 400px;
}

.height-1 {
    min-height: 300px;
}