.reset-border * {
    border: 0!important;
}

.td-main {
    width: 350px;
    min-width: 100px;
}

.validation-summary-errors li {
    list-style-type: none;
}


.height-5 {
    min-height: 1000px;
}

.height-4 {
    min-height: 800px;
}

.height-3 {
    min-height: 600px;
}

.height-2 {
    min-height: 400px;
}

.height-1 {
    min-height: 300px;
}

.border-radius-0 {
}

.nav-item.nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-btn {
    border-radius: 0px;
    color: white!important;
    padding-left: 10px;
    padding-right: 10px;
}

#btn-login {
    background-color: mediumseagreen;
}

#btn-login:hover {
    transition: background-color ease 0.3s 0s;
    background-color: seagreen;
}

#btn-account {
    background-color: mediumturquoise;
}

#btn-account:hover {
    transition: background-color ease 0.3s 0s;
    background-color: turquoise;
}