.reset-border * {
    border: 0!important;
}

.height-5 {
    min-height: 1000px;
}

.height-4 {
    min-height: 800px;
}

.height-3 {
    min-height: 600px;
}

.height-2 {
    min-height: 400px;
}

.height-1 {
    min-height: 300px;
}